<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.file_field :key %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-info" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="row">
  <h3>To generate key files:</h3>
  <p>openssl genrsa -out [my_private_key_filename.pem] 1024</p>
  <p>openssl rsa -in [my_private_key_filename.pem] -pubout -out [my_public_key_filename.pem]</p>

  <h3>Example:</h3>
  <p>openssl genrsa -out private.pem 1024</p>
  <p>openssl rsa -in private.pem -pubout -out public.pem</p>
</div>
