<div class="row">
  <h1>Welcome Home!</h1>
  <p>You are signed in as <%= current_user.email %></p>
</div>

<div class="row well">
  <h2>Groups</h2>

  </hr>

  <% if @user.groups.count > 0 %>
    <ul>
      <% @user.groups.each do |g| %>
        <li><%= g.name %>
          <% if (g.owner && g.owner.user_id == current_user.id) %>
            , <%= link_to "Add member", new_member_path(group_id: g.id) %>
          <% end %>
          , <%= link_to "View members", members_path(group_id: g.id) %>
          , <%= link_to "View files", edocs_path(group_id: g.id) %>
        </li>
        <!-- TODO add view files, delete group (if owner) -->
      <% end %>
    </ul>
  <% else %>
    <p>You don't belong to any groups yet, click the button below to create one!</p>
  <% end %>

  <%= link_to "+", new_group_path, class: "btn btn-info" %>

</div>

<div class="row">
  <%= @key %>
</div>
